# URL target API Hugging Face
HF_API_URL=https://geryuga230123-cohelt.hf.space/predict

# Hugging Face API Key / Token jika space bersifat private (opsional)
HF_API_KEY=your_hugging_face_api_key_here
